---
layout: default
---
<!-- Include Data Base  -->
{% include liquid/data %}

{% if load_data.userdata.email and load_data.website.content.contact.formspree.endpoint != "" %}

  <div class="p-1 p-lg-3 layout_contact {% if load_options.content.contact.animation == true %} animation__content {% endif %}">

    <div class="mb-4 p-1 p-lg-3 layout_contact__header">

      <div class="container-fluid">
        <div class="row">
          <div class="p-0 col col-lg-7">
            <h1 class="font-weight-bold layout_contact__title">{{ page.title }}</h1>
          </div>
          <div class="p-0 col col-lg-5 text-right">
            <span class="text-right d-none d-lg-block layout_contact__vendor">Service provided by:&nbsp;<a href="https://formspree.io/" target="_blank">Formspree</a></span>
          </div>
        </div>

        <div class="row d-block">
          <div class="layout_contact__description">{{ content }}</div>
        </div>
      </div>

    </div>

      <div class="container-fluid">
        <div class="row d-block">
          {% if load_data.website.content.contact.formspree.plan != 'free' %}
          <form id="layout_contact__form" class="mb-4 p-3 layout_contact__form"
            method="POST">
          {% else %}
          <form id="layout_contact__form" class="mb-4 p-0 p-lg-3 layout_contact__form"
          action="https://formspree.io/f/{{ load_data.website.content.contact.formspree.endpoint }}"
          method="POST">
          {% endif %}
            <div class="container-fluid">

              <div class="row">
                <input type="text" class="my-1 form-control layout_contact__input"
                  name="name" placeholder="{{ load_data.website.content.contact.placeholder.name }}"
                  id="name" required>
              </div>

              <div class="row">
                <input type="text" class="my-1 form-control layout_contact__input"
                  name="_subject"
                  placeholder="{{ load_data.website.content.contact.placeholder.subject }}"
                  id="subject" required>
              </div>

              <div class="row">
                <input type="text" class="my-1 form-control layout_contact__input"
                name="email"
                placeholder="{{ load_data.website.content.contact.placeholder.email }}"
                id="email" required>
              </div>

              <div class="row">
                <textarea  class="my-1 form-control layout_contact__textarea"
                name="message" rows="7" cols="50"
                placeholder="{{ load_data.website.content.contact.placeholder.message }}"
                id="message" required></textarea>
              </div>

              <div class="row">
                <button type="submit"
                  class="m-0 btn btn-link btn-typing layout_contact__form-button">
                  {{ load_data.website.content.contact.send.button }}
                </button>
              </div>

              <input type="hidden" name="_language" value="{{ load_data.website.content.contact.formspree.language }}" />
              <input type="text" name="_gotcha" style="display:none" />

            </div>

          </form>
          <div id="status"></div>
        </div>
        {% if load_options.content.contact.note.enable == true %}
        <div class="row d-block">
          <div class="mb-4 p-3 layout_contact__note">
            <span>{{ load_data.website.content.contact.note.title }}: {{ load_data.website.content.contact.note.description }}</span>
          </div>
        </div>
        {% endif %}
      </div>
  </div>
{% else %}
<p style="color: yellow; background-color: black; padding: 5px;">
  Warning! Either the email or the endpoint is blank in the '_data/informations.yml' file.
</p>
{% endif %}

{% if load_data.website.content.contact.formspree.plan == 'paid' %}
<!-- Add Modal action message sent -->
{% include partials/email_successfully_sent.html %}
{% include partials/email_failed_sent.html %}
{% endif %}
